# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/
next-env.d.ts

# prod
build/
dist/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/

# local uploads / data
/data/
tsconfig.tsbuildinfo

# typescript
*.tsbuildinfo
